*{
    padding: 0;
    margin: 0;
}

.navbar{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto', Arial,  sans-serif;
    color: #999;
}

.navbar-text img{
    width: 35px;
    margin: 0 2px;
}

.navbar-text{
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
    margin-right: 100px;
}

.span-1{
    color: #00BFA5;
    margin: 0 5px;
}


.navbar-links{
    padding: 20px 0;
}

.navbar-links a{
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #999;
    font-weight: 200;
}

.navbar-links a:hover{
    color: #00BFA5;
}


/* ============================== SERVICES ============================== */

.Services{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.services-logo img{
    width: 50px;
    display: flex;
    justify-content: center;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.services-text h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    color: #00BFA5;

}

.grid-container-1{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #999;
}

.servecis-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    line-height: 30px;
}


.grid-container-2{
    width: 70%;
    height: 100%;
    margin: 25px auto;
    color: #fff;
}

.servecis-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
    gap: 20px;
    margin-top: 70px;
}

.card-1{
    padding: 20px 30px;
    background: #00BFA5;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
}

.card-1 i, .card-2 i , .card-3 i{
    font-size: 25px;
    margin-bottom: 10px;
}

.card-1 h2, .card-2 h2, .card-3 h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.card-1 p, .card-2 p, .card-3 p{
    font-size: 20px;
    margin-bottom:60px;
    line-height: 25px;
}

.card-1 a{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}

.card-2{
    padding: 20px 30px;
    background: #5190E2;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
}

.card-3{
    padding: 20px 30px;
    background: #323D49;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
}

.card-2 a{
    margin-top: 40px;
    color: #fff;
    font-size: 18px;
}

.card3-links{
    margin-bottom:40px;
}

.card3-links  a{
    display: block;
    color: #fff;
    font-size: 18px;
}

.servecis-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.servecis-container{
    display: flex;
    color: #00BFA5;
    width: 80%;
    justify-content: space-around;
}

.services-wrap{
    margin-top: 10px;
    margin-right:150px;
    font-size: 30px;
    width: 30%;
    font-weight: lighter;
}

.services-logos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sv-lg1 img, .sv-lg2 img{
    margin-right: 40px;
}

/* ====================================SECTION======================================= */

.section{
    height: 90vh;
    display: flex;
    background: #E0F9F7;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

.section-1{
    padding: 0 50px;
}

.section-1 .s1{
    color: #00BFA5;
    margin-bottom: 10px;
    margin-top: 200px;
    font-size: 35px;
    line-height: 40px;
}

.section-1 p{
    font-size: 16px;
    color: #999;
    line-height: 30px;
    margin-bottom: 45px;
    padding: 0 55px;
}





.section-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}

.s-grid{
    text-align: center;
    background: #fff;
    padding: 10px 30px;
    width: 50%;
    border-radius: 4px;
    height: 35vh;
    font-size: 11px;
    margin-left: 120px;
}

.s-grid i{
    font-size: 30px;
    margin-top: 40px;
    color: #00BFA5;
}

.s-grid h2{
    font-size: 25px;
    margin-top: 15px;
    color: #00BFA5;
    font-weight: 5;
}

.s-grid p{
    font-size: 12px;
    margin-top: 30px;
    color: #999;
}

.s-grid1{
    text-align: center;
    background: #fff;
    padding: 10px 30px;
    width: 50%;
    border-radius: 4px;
    height: 35vh;
    font-size: 11px;
    margin-top: 15px;
}


.s-grid1 i{
    font-size: 30px;
    margin-top: 40px;
    color: #00BFA5;
}

.s-grid1 h2{
    font-size: 25px;
    margin-top: 15px;
    color: #00BFA5;
    font-weight: 5;
}

.s-grid1 p{
    font-size: 12px;
    margin-top: 30px;
    color: #999;
}


/* =========================================PICTURES============================================ */

.Pictures{
    height: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.p-pics{
    display: grid;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3 , 1fr);
    gap: 25px;
    
}

.p-pic{
    width: 300px;
    height: 50vh;
    border: .50px solid #e7e7e7;
    border-radius: 8px;
    overflow: hidden;
}

.p-pic:hover{
    box-shadow: 0.5px 0.5px 30px #999;
}

.p-pic img{
    width: 100%;
    height:40vh;
}
.p-c{
    display: flex;
    justify-content: space-between;
}
.p-c p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #999;
}

.p-c a{
    text-decoration: none;
    font-size: 11px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    background: #1662C6;
}





.p-text{
    text-align: center;
    width: 450px;
}

.p-text h1{
    margin-top: 10px;
    font-size: 25px;
    color: #00BFA5;
    font-weight: 1;
    line-height: 2.5rem;
}

.p-text p{
    margin: 40px 0;
    color: #999;
    line-height: 20px;
}


.p-end{
    margin: 100px 0;
    text-align: center;
}

.p-end p{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666;
    font-weight: 1;
}

.p-end a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #5190E2;
    border-radius: 5px;
}

/* ===========================FOOTER========================================= */

.footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.005px solid #e0e0e0;
    font-family: 'Poppins', sans-serif;
}

.ft-1{
    display: flex;
    margin: 10px 0;
    color: #999;
    font-size: 14px;
}

.ft-p{
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 25px;
}

.ft-1 a{
    color: #1662C6;
}