@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --main-background: #181f2a;
    --footer-background:#0b1523;
    --testimonials-background:#202a3c;
    --main-font:'Raleway', sans-serif;
    --second-font:'Open Sans', sans-serif ;
}

/* ==================================NAVBAR====================================== */

.nav{
    background: var(--testimonials-background);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: var(--main-font);
}

.nav-logo img{
    margin-left: 100px;
    width: 50%;
}

.nav-links{
    margin-right: 150px;
}

.nav-links a{
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
}

/* ===============================================HERO========================================= */

.hero{
    background: var(--testimonials-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--main-font);
    color: #fff;
}

.hero-img{
    text-align: center;
}
.hero-img img{
    width: 600px;
}

.hero-head{
    text-align: center;
    width: 50%;
    margin:50px auto;
}

.hero-p p{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    font-size: 22px;

}
.hero-text{
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.nav-buttion{
    width:250px;
    margin: 80px auto;
}


.nav-buttion a{
    display: flex;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    justify-content: center;
    padding: 15px 55px;
    background: #65e2d9;
    border-radius: 25px;
}


/* ======================================GRID==================================== */

.grid-container{
    background: var(--main-background);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.grid{
    width: 850px;
    margin-top: 80px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    text-align: center;
}

.gr-card{
    width: 80%;
}

.gr-card h1{
    font-size: 16px;
    margin: 15px 0;
}

.gr-card p{
    line-height: 25px;
    font-size: 14px;
}


/* =========================================TESTIMONIALS================================================== */

.t-container{
    background: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}

.t-grid{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.t-img img{
    width: 600px;
    margin-right: 50px;
}

.t-text{
    width: 400px;
}

.t-text h1{
    margin: 20px 0;
    line-height: 45px;
}

.t-text p{
    margin: 15px 0;
}

.t-text a{
    color: #65e2d9;
}

/* ======================================PEOPLE===================================== */

.tg-cc{
    background: var(--main-background);
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position:9% 120px;
}

.tg-cn{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 90px;
    justify-content: center;
    color: #fff;
    
}

.tg-pp{
    background: var(--testimonials-background);
    width: 250px;
    padding: 10px 35px;
    margin: 150px 0;
    border-radius: 10px;
}

.tg-pp p{
    margin: 20px 0;
}

.tg{
    display: flex;
    align-items: center;
}

.tg img{
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

/* ===================================Sign========================================== */

.s-c{
    background: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
}

.s-f{
    width: 60%;
    background: #1c2431;
    padding: 30px 60px;
    border-radius: 20px;
}


.s-f h1{
    margin: 20px 0;
}

.s-f p{
    margin: 25px 0;
}

input[type="email"]{
    width: 50%;
    padding: 15px 10px;
    margin-right: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}

input[type="submit"]{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background: #65e2d9;
    color: #fff;
    font-weight: bold;
}

/* =======================FOOTER==================== */

.footer{
    background: var(--footer-background);
    margin: -100px 0 ;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    align-items: center;
}

.ft-c{
    margin-top: 200px;
}

.ft-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-p1{
    width: 30%;
    margin-left: 25px;
    margin-bottom: 25px;
}

.ft-p1 img{
    margin-bottom: 25px;
}

.ft-p1 i{
    margin: 10px 15px;
    font-size: 22px;
}

.ft-p2 i{
    font-size: 18px;
    margin: 15px 0;
    
}

.ft-p3 a{
    display: block;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
}

.ft-p4 a{
    display: block;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
}

.ft-p5{
    margin-right: 25px;
}

.ft-p5 i{
    margin: 0 10px;
    font-size: 18px;
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}